body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
  font-size:25px;
}
.bar-color{
  background-color:#279c63;
}
footer{
  margin-top:20px;
}
.footer-color{
    background-color:#45544d;
}
.story-text{
  height:120px;
}
.dash-status{
  text-transform: capitalize;
}
#delete-form{
  display:inline;
}
.KeyWords-list{
  max-height: 310px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
}
::-webkit-scrollbar {
    display: none;
}
.list-content{
  font-size: 15px;
  padding:20px;
  font-weight: 100px;
}
.pointSection{
  height: 300px;
}
.content-value{
  font-size: 15px;
  padding:20px;
}
.rank-section{
  padding: 1px;
}
