/*
Author: Debarun Mitra
Technlogy: MongoDB, ExpressJS, NodeJS
Objective: Create an application where people can share their stories, ideas, thoughts and experiences.
*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
  font-size:25px;
}

footer{
  margin-top:20px;
}

.story-text{
  height:120px;
}

.dash-status{
  text-transform: capitalize;
}

#delete-form{
  display:inline;
}
