<div class="container-fluid">
  <div class="row">
    <div class="col s12 m6 l6">
      <h1>About</h1>
      <p>Version 1.0.0</p>
      <p>StoryYO  story your own</p>
      <p>It is an app to share your life</p>
    </div>
    <div class="col s12 m6 l6">
      <img class="themeImage" src="{{bgimage}}" alt="image" />
    </div>
  </div>
</div>
